<%- include('../inc/header-admin.ejs') %>
<!-- Viết code màn hình tại đây -->
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Danh sách nhà hàng</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách nhà hàng</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
</main>
<%- include('../inc/footer.ejs') %>
